<div class="card">
  <div class="card-content">
    <span class="card-title">Nueva compañia</span>
    <form (ngSubmit)="onSaveCompany(formNew)" #formNew="ngForm" class="col s12 m6">
      <div class="row">
        <div class="input-field col s12 m6">
            <label>Nombre</label>
            <br>
          <input [(ngModel)]="company.name" #name="ngModel" type="text" name="name" id="name" placeholder="Nombre de la Compañia">
          
        </div>
        <div class="input-field col s12 m6">
            <label>Ubicacion</label>
            <br>
            <input [(ngModel)]="company.location" #location="ngModel"  type="text" name="location" id="location" placeholder="Ubicacion de la Compañia">
           
          </div>
          <div class="input-field col s12 m6">
              <label>Correo</label>
              <br>
              <input [(ngModel)]="company.email" #email="ngModel"  type="text" name="email" id="email" placeholder="Correo electronico">
             
            </div>
            <div class="input-field col s12 m6">
                <label>Telefono</label>
                <br>
                <input [(ngModel)]="company.tel" #tel="ngModel"  type="text" name="tel" id="tel" placeholder="Telefono de la compañia">
                
              </div>
              <div class="input-field col s12 m6">
                  <label>Extension</label>
                  <br>
                  <input [(ngModel)]="company.extension" #extension="ngModel"  type="text" name="extension" id="extension" placeholder="Extension de la Compañia">
                  
                </div>
                <div class="input-field col s12 m6">
                    <label>Responsable</label>
                    <br>
                    <input [(ngModel)]="company.responsable" #responsable="ngModel"  type="text" name="responsable" id="responsable" placeholder="Responsable de la Compañia">
                    
                  </div>
                  <button type="submit" class="btn waves-effect waves-light orange right">Guardar
                    <i class="material-icons">add_circle</i>
                  </button>
      </div>
    </form>
  </div>
</div>