.secondary-content{
    color: #000;
}

.mano{
    cursor: pointer;
}

.btnmargin{
    
    min-width: 158px;
}

.marg{
    margin-top: 0px;
    margin-right: 0px;    
}
.marg2{
    margin-left: 0px;
}

@media (max-width: 998px){
    .marg{
        margin-right: -57px;
        min-width: 120px;    
    }
    .marg2{
        margin-left: -35px;
        min-width: 100px;
    }
}